<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
         <img src="../../assets/generation .jpeg" alt="Foto do criador" width="50px" height="50px" class="img-fluid rounded-circle">
        </li>
        <li class="nav-item pl-3 d-flex align-items-center">
          <p class="m-0 font-weight-bold text-white fs-16">Nome do usúario</p>
        </li>

        <li class="nav-item pl-3 d-flex align-items-center ">
            <a href="">
                <i class="far fa-edit text-white fs-16"></i> 
            </a>
          </li>      
    </ul>
<ul class="navbar-nav ml-auto">
    <li class="nav-item pl-3 d-flex align-items-center">
        <a class="m-0 font-weight-bold text-white fs-16">Sair <i class="fas fa-sign-out-alt"></i></a>
      </li>
</ul>

    </div>
  </nav>